{% extends 'layout' %}

{% block content %}
    <div class="row">
        <div class="small-6 columns">
            <h3>Atlas</h3>
            <a href='Atlas'>
                <img src='/orkui/template/default/img/map.jpg'>
                Amtgard Atlas Map
            </a>
        </div>
        <div class="small-6 columns">
            <h3>Find</h3>
            <ul>
                <li><a href='Search/index'>Players</a></li>
                <li><a href='Search/unit'>Companies &amp; Households</a></li>
                <li><a href='Search/event'>Events</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <h3>Kingdoms</h3>
            <table class='table'>
                <thead>
                <tr>
                    <th>Kingdom</th>
                    <th>Parks</th>
                    <th>Part.</th>
                    <th>Weekly</th>
                    <th>Monthly</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for kingdom in kingdoms %}
                    <tr><td>{{ kingdom.name }}</td><td>{{ kingdom.park_count }}</td><td>{{ kingdom.active_parks }} / {{ kingdom.park_count }}</td><td>{{ (kingdom.attendance / 26)|number_format(1, '.', ',') }}</td><td>{{ (kingdom.attendance / 12)|number_format(1, '.', ',') }}</td><td>{{ kingdom.attendance|number_format(0, '.', ',') }}</td></tr>
                {% endfor %}
                </tbody>
            </table>
            <h3>Principalities</h3>
            <table class='table'>
                <thead>
                <tr>
                    <th>Principality</th>
                    <th>Parks</th>
                    <th>Part.</th>
                    <th>Weekly</th>
                    <th>Monthly</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for principality in principalities %}
                    <tr><td>{{ principality.name }}</td><td>{{ principality.park_count }}</td><td>{{ principality.active_parks }} / {{ principality.park_count }}</td><td>{{ (principality.attendance / 26)|number_format(1, '.', ',') }}</td><td>{{ (principality.attendance / 12)|number_format(1, '.', ',') }}</td><td>{{ principality.attendance|number_format(0, '.', ',') }}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="small-6 columns">
            <h3>Events</h3>
            <table class='table'>
                <thead>
                <tr>
                    <th>Kingdom</th>
                    <th>Park</th>
                    <th>Event</th>
                    <th>Next Date</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr><td>{{ event.kingdom }}</td><td>{{ event.park }}</td><td>{{ event.event }}</td><td>{{ event.event_start|date("m/d/Y") }}</td></tr>
                {% endfor %}
                </tbody>
            </table>
            <h3>Tournaments</h3>
            <table class='table'>
                <thead>
                <tr>
                    <th>Tournament</th>
                    <th>Kingdom</th>
                    <th>Park</th>
                    <th>Event</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                    {% for tournament in tournaments %}
                    <tr><td>{{ tournament.name }}</td><td>{{ tournament.kingdom }}</td><td>{{ tournament.park }}</td><td>{{ tournament.event }}</td><td>{{ tournament.date|date("m/d/Y") }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}