{% extends 'layout' %}

{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <h1 class="title">
                {% if park.has_heraldry == 1 %}
                    <div class="heraldry">
                        <img src="http://amtgard.com/ork/assets/heraldry/park/{{ "%05d"|format(park.park_id) }}.jpg">
                    </div>
                {% endif %}
                <span class="park">{{ park.name }}</span>
                <span class="parent"><a
                            href="{{ route( 'kingdom.show', { 'id': park.kingdom.kingdom_id }) }}">{{ park.kingdom.name|raw }}</a></span>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <p>{{ park.description|replace({'\\n': '<br>'})|raw }}</p>
            <p>{{ park.directions|replace({'\\n': '<br>'})|raw }}</p>

            <h2>Park Days</h2>

            <table>
                <thead>
                <tr>
                    <th>When</th>
                    <th>Time</th>
                    <th>Purpose</th>
                    <th>Location</th>
                </tr>
                </thead>
                <tbody>
                {% for day in park.parkDays %}
                    <tr>
                        <td>{{ day.recurrence|capitalize }} {{ day.week_day }}</td>
                        <td>{{ day.time|date('h:i a') }}</td>
                        <td>{{ day.purpose|replace({'-': ' '})|title }}</td>
                        <td><a href="{{ day.location_url }}">View Location</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="small-6 columns">
            <h2>Upcoming Events</h2>
            <table>
                <thead>
                <tr>
                    <th>Event</th>
                    <th>Park</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td><a href="{{ route('event.show', {id: event.detail_id}) }}">{{ event.name }}</a></td>
                        <td>{{ event.park.name }}</td>
                        <td>{{ event.event_start|date("m/d/Y") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <h2>Members</h2>
            <ul>
                {% for member in park.members %}
                    {% if member.active %}
                        <li>
                            <a href="{{ route( 'player.show', { 'id': member.mundane_id }) }}">{{ member.persona }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}